*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  margin: 0;
}

footer {
  border-top: 5px solid skyblue;
  border-bottom: 5px solid skyblue;
  background-color: #437488;
  height: 3rem;
}

h1{
  font-size: 3em;
  color: white;
  margin: 0;
}

h2,
h3 {
  color: white;
  text-align: center;
}

header {
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

li{
  display:inline;
  width: 20%;
}

main {
  width: 80%;
  border: 5px solid skyblue;
  border-width: 0 5px 0 5px;
  margin: 0 auto 0 auto;
  height: 50rem;
}

nav a{
  background-color: #437488;
  display: flex;
  text-decoration: none;
  padding: 0px;
  border: 5px solid skyblue;
  border-width: 0 5px 0 5px;
  font-size: 2rem;
  height: 3rem;
  width: 100%;
  align-items: center;
  justify-content: center;
}

nav a:active {
  background-color: #000000;
}

nav a:focus, a:visited, a:link{
  color:skyblue;
}

nav a:hover {
  color:white;
  background-color: #2a4b58
}

p{
  color:white;
  text-align: center;
}

ul{
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  border-top: 5px solid skyblue;
  border-bottom: 5px solid skyblue;
  background-color: #437488;
}
