
body {
  background-color: black;
}
h1{
  font-size: 5em;
  text-align: center;
  color: white;
}
p{
  color:white;
}

nav a{
  background-color: #87ceeb85;
  display: flex;
  text-decoration: none;
  padding: 0px;
  border: 5px solid skyblue;
  font-size: 2rem;
  height: 3rem;
  width: 12rem;
  align-items: center;
  justify-content: center;
}

nav a:link, a:visited, a:focus {
  color:skyblue;
}
nav a:hover {
  color:white;
  background-color: #87ceeb42
}
nav a:active {
  background-color: #ffffff00;
}

ul{
  display: flex;
  margin: 0 auto 0 auto;
  justify-content: center;
}
li{
  display:inline;
}
