*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: radial-gradient(black, #00004a);
  background-size: cover;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 3em;
  color: white;
  animation: shiny 2s ease-in-out infinite alternate;
}

@keyframes shiny {
  from {
    text-shadow: 0 0 0px skyblue;
  }

  to {
    text-shadow: 0 0 20px skyblue;
  }
}

h2,
h3 {
  color: white;
  text-align: center;
  font-size: 30px;
  margin-bottom: 2rem;
  text-shadow: 3px 3px 5px black;
}

header {
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul li {
  display: inline;
  width: 20%;
}

li + li {
  margin-left: 20px;
}

main {
  width: 80%;
  margin: 0 auto;
}

nav a {
  background: linear-gradient(#437488, #2a4b58);
  box-shadow: 0 0 10px 0 skyblue;
  display: flex;
  text-decoration: none;
  border: 5px solid skyblue;
  border-radius: 5px;
  border-width: 5px;
  font-size: 1.5rem;
  height: 3rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  transition: box-shadow .3s;
}

nav a:active {
  background-color: #000000;
}

nav a:focus, a:visited, a:link {
  color: skyblue;
}

nav a:hover {
  color: white;
  background-color: #2a4b58;
  box-shadow: 0 0 10px 5px skyblue;
}

nav .dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 20%;
}

nav .dropdown li + li {
  margin: 0 auto;
  display: none;
}

nav .dropdown li + li a {
  background-image: none;
  background-color: #1d2f38;
}

nav .dropdown li {
  width: 100%;
}

nav .line {
  background-color: #375767;
  width: 100%;
  height: 10px;
  position: relative;
  bottom: 29px;
  z-index: -2;
}

nav .line .lineglow {
  background-image: linear-gradient(to right,
      #375767 0%,
      skyblue 50%,
      #375767 100%);
  height: 100%;
  width: 100px;
  margin-left: -100px;
  z-index: -1;
  animation: .5s linear 0s moveglow;
}

@keyframes moveglow {
  from {
    margin-left: -100px;
  }

  to {
    margin-left: 100%;
  }
}

p {
  color: white;
  text-align: center;
  line-height: 1.5em;
  font-size: 24px;
}

p + p {
  margin-top: 1em;
}

ul {
  display: flex;
  justify-content: center;
}

article,
aside {
  margin-top: 50px;
  background: linear-gradient(#437488, #2a4b58);
  box-shadow: 0 0 10px 0 skyblue;
  border: 5px solid skyblue;
  border-radius: 15px;
  border-width: 5px;
  padding: 2.5%;
}

aside.contact {
  width: 75%;
  margin: 50px auto;
}

aside.contact a {
  display: flex;
  justify-content: center;
  font-size: 24px;
}

.projects .tetris a {
  text-decoration: none;
  background: white;
  color: black;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: 1rem auto;
  height: 2em;
  border: thin solid black;
  border-radius: 5px;
  box-shadow: 0 0 3px white;
}

.projects .tetris a:hover {
  box-shadow: 0 0 6px white;
  font-weight: bold;
}

.projects > h2 {
  margin-top: 2rem;
  text-shadow: 0 0 5px skyblue;
  font-size: 3rem; d
}

.reviews a {
  display: block;
  font-size: 24px;
  text-align: right;
  margin-top: 30px;
}

.reviews a::after {
  content: " →";
}

.reviews header {
  margin-top: 2rem;
}

iframe {
  display: block;
  margin: 1rem auto;
}

ol {
  box-shadow: 3px 3px 3px black;
  background-image: linear-gradient(to left, #808080 96%, #80808000 100%);
  clear: both;
}

ol li {
  margin-left: 2rem;
  font-size: 24px;
  color: white;
  line-height: 1.5em;
  font-style: italic;
  background-color: #525050;
}

ol li p {
  font-style: normal;
  text-align: left;
  background-color: gray;
}

.addtopmargin {
  margin-top: 3rem;
}

@media screen and (min-width: 1000px) {
  main {
    max-width: 1000px;
  }
}

@media screen and (max-width: 599px) {
  .lineglow,
  .line {
    display: none;
  }

  nav li,
  nav .dropdown {
    width: 80%;
    margin: 5px auto;
  }

  .reviews header {
    margin-top: 6rem;
  }

  ul {
    flex-direction: column;
  }
}

@media screen and (min-width: 600px) {
  nav ul.dropdown:hover li {
    display: inline;
  }
}

@media screen and (min-width: 700px) {
  iframe {
    float: right;
    margin: 2rem;
  }
}
